*{
    padding:0;
    margin: 10px;
    box-sizing: border-box;
}

body{
    background: black;
    color: white;
    height: 100vh;
    overflow: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@mixin verticalAlign{
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}